html {
    position: relative;
    min-height: 100%;
}

body {
  padding-bottom: 80px;
}

.app-container {
    margin-top: 50px;
}

footer.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #9d9d9d;
}

.copyright {
    margin: 20px 0;
}
